@import url(https://fonts.googleapis.com/css?family=Oswald);


/* --------------------------------------------------------------------------
 *  PICASSO SHOP Template - Table of Content

    1.1 - Preloader
    1.2 - Global properties (body, common classes, structure etc)
    1.3 - Layout
    1.4 - Main Menu
    1.5 - Product Detail
    1.6 - Cart
    1.7 - Buttons
    1.8 - Header
    1.9 -  Slider Owl Carousel
    1.10 - Social Icons
    1.11 - Shop Thumbnails
    1.12 - About Page
    1.13 - Shop sorting
    1.14 - Contact form
    1.15 - Helper Classes
    1.16 - Media Queries

 * -------------------------------------------------------------------------- */
/* ========================================================================== */

.thumbnail img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 1.72;
  background: #f5f5f5;
  color: #15171f;
  letter-spacing: 2px;
  -webkit-font-kerning: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: visible !important;
}


.menu-btn {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.open-sidebar {
  width: 300px;
  height: 100%;
  background-color: green;
  float: right;
  position: absolute;
  /* right:-260px; */
  right: 0px;
}

/* LOGIN */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #39ace7;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.login-input {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder {
  color: #cccccc;
}


.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}


.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

*:focus {
  outline: none;
}

/* LOGIN */

#sidebar {
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  width: 270px;
  height: 100%;
  background-color: brown;
  position: absolute;
  left: 40px;
  top: 0px;
}
.menu,
.submenu {
  width: 100%;
  height: 100%;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.submenu {
  display: none;
  position: absolute;
  top: 0px;
  right: -260px;
  background-color: green;

  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -ms-transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
}
.menu li,
.submenu li {
  border: 2px solid #aa4455;
}

.menu li a,
.menu li span {
  display: block;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  color: #ccc;
}

.bar {
  width: 60%;
  height: 3px;
  display: block;
  background-color: #fff;
  margin: 0px 0px 3px 0px;
}

.main-content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  border-radius: 5px;
  width: 40px;
  height: auto;
  position: absolute;
  padding: 10px 0px 6px 12px;
  margin: 0;

  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: red;
}

#sidebar ul li:focus ul,
#sidebar ul li:active ul {
  right: 0px;
}

#sidebar ul > li:hover > a,
#sidebar ul li:hover span {
  color: white;
  background-color: red;
}

.back {
  background-color: orange;
  color: black;
  padding: 0px;
}

.content {
  margin-bottom: 40px;
}

ul {
  list-style: none;
}

li,
li:hover,
li:focus,
li:visited,
a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

.error_qty {
  box-shadow: 0 0 0 2px #bf0707 !important;
}

.column-height {
  height: 100vh;
}

.relative {
  position: relative;
}

.container-shop {
  padding-left: 60px;
  padding-right: 60px;
}

.table-border {
  box-shadow: 0px 0px 15px rgba(195, 195, 195, 0.6);
  border: 1px solid #1010104f;
  border-radius: 0 0 15px 15px;
}
.delete-button {
  border: none;
  background-color: transparent;
  color: red;
  font-size: 20px;
}
.table {
  margin-bottom: 0 !important;
}
.add-button {
  border: 1px solid #a0a0a0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #0000009e;
}
.variation-input {
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  width: 100px;
  margin-right: 20px;
}
.input-border {
  border: 1px solid #00000038 !important;
  border-radius: 7px !important;
}
/* 1.3 */
/* Layout
/* ========================================================================== */
.page-section {
  height: 100%;
  background-color: #f5f5f5;
  position: relative;
  padding-top: 65px;
}

.page-section-about {
  height: 100%;
  background-color: #ffffff;
  position: relative;
  padding-top: 70px;
}


/* 1.4 */
/* Main Menu
/* ========================================================================== */
.menu-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 8;
}

.main-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #15171f;
  z-index: 10;
  width: 400px;
}

.main-menu ul {
  margin-top: 100px;
}

.main-menu ul li {
  padding: 0 60px;
  line-height: 1.5;
}

.main-menu ul li a {
  font-family: Oswald;
  font-weight: bolder;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}

.main-menu ul li a:hover {
  color: #fa5b2f;
}

.main-menu .close-menu {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.active {
  color: #fa5b2f !important;
}

.main-menu .social-media {
  padding-left: 95px;
}

.main-menu .social-media span {
  color: #a0a0a0;
  font-size: 18px;
}

.main-menu .social-media span:hover {
  color: #fff;
}

/* 1.5 */
/* Product Detail
/* ========================================================================== */

.images-wrapper,
.wrapper-info {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wrapper-info {
  margin: 0 auto;
  max-width: 420px;
  left: 0;
  right: 0;
}

.product-name {
  position: absolute;
  left: -100%;
  top: 60px;
  right: 0;
  text-align: center;
}

.size-select.form-control,
.size-select.form-control:focus {
  line-height: 1;
  font-size: 15px;
  text-transform: uppercase;
  color: #15171f;
  border: 1px solid #e4e4e4;
}

.validate-category {
  border: 3px solid red !important;
}

img.imgdetail {
  margin-bottom: 60px;
}

.filters-shop {
  background-color: #ffffff;
  position: relative;
}

.img-product-detail {
  border: 2px solid #15171f;
}

.message {
  color: #fa5b2f;
  font-family: "Roboto Mono";
  font-size: 15px;
  margin-top: 10px;
}

.imgdetail {
  max-width: 85%;
}

.out-stock-label {
  color: #fa5b2f;
  border: 3px solid #fa5b2f;
  padding: 2px 10px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: right;
}

.btn-detail {
  width: 100%;
}

/* 1.6 */
/* Cart
/* ========================================================================== */

 .text-cart {
  margin-bottom: 0;
  text-align: center;
}

 .text-cart p {
  margin: 0;
}

 .text-cart a {
  color: #fa5b2f;
}

 .text-cart a:hover {
  color: #d0445a;
}

.header-cart.block-header {
  margin: 20px 0;
}

.wrapper-cart {
  margin-bottom: 40px;
  padding: 40px 20px;
  position: relative;

  -webkit-box-shadow: 0px 0px 15px rgba(195, 195, 195, 0.6);
  -moz-box-shadow: 0px 0px 15px rgba(195, 195, 195, 0.6);
  box-shadow: 0px 0px 15px rgba(195, 195, 195, 0.6);
  background-color: #ffffff;
}

.wrapper-cart *::-moz-selection {
  background-color: transparent;
}
.wrapper-cart *::selection {
  background-color: transparent;
}

.wrapper-cart .remove-product {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 24px;
}

.wrapper-cart .remove-product button {
  background-color: transparent;
  border: none;
  color: #d6d6d6;
}

.wrapper-cart h4 {
  font-size: 24px;
  color: #15171f;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}

.wrapper-cart .input {
  background: transparent;
  text-align: center;
  border: none;
  font-size: 24px;
  display: inline-block;
  margin: 0 40px;
}

.wrapper-cart .price-unit {
  font-family: Oswald;
  font-size: 18px;
  color: #9e9d9d;
  text-align: center;
}

.wrapper-cart .subtotal {
  font-family: Oswald;
  font-size: 30px;
  color: #fa5b2f;
  font-weight: bolder;
  text-align: center;
}

.shopping-cart {
  padding: 10px;
  margin-bottom: 40px;

  -webkit-box-shadow: 0px 0px 15px rgba(195, 195, 195, 0.6);
  -moz-box-shadow: 0px 0px 15px rgba(195, 195, 195, 0.6);
  box-shadow: 0px 0px 15px rgba(195, 195, 195, 0.6);
}

.shopping-cart .total-amount {
  font-size: 30px;
  color: #fa5b2f;
  font-weight: bolder;
}

.shopping-cart .total-amount span:first-child {
  color: #9e9d9d !important;
  font-weight: normal !important;
}

.regular-text a {
  font-family: Oswald;
}

.wrapper-cart .counter {
  color: #c1c1c1;
  cursor: pointer;
}

.wrapper-cart .counter:hover {
  color: #fa5b2f;
}

/* 1.7 */
/* Buttons
/* ========================================================================== */
.btn,
.btn:hover,
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.btn-theme {
  color: #ffffff;
  background-color: #15171f;
  border: 3px solid #15171f;
  padding: 1em 7em;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  font-size: 15px;
  letter-spacing: 1px;
}

.btn-theme:hover {
  background-color: transparent;
  border: 3px solid #15171f;
  color: #15171f;
}

.buttons {
  max-width: 420px;
}

/* 1.8 */
/* Header
/* ========================================================================== */
.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
}

.header .header-wrapper.top-bar,
.header .header-wrapper.mobile-top-bar {
  background-color: #ffffff;
  /* -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); */
  -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.header .header-wrapper {
  padding: 15px 0;
  background-color: transparent;
  position: relative;
}

.header .header-wrapper .menu-icon {
  font-family: Oswald;
  text-transform: uppercase;
  color: #15171f;
  letter-spacing: 2px;
  font-weight: bold;
  /* margin-top: 10px; */
  /* margin-left: 20px; */
}

.header .header-wrapper .header-logo .logo-text {
  font-size: 30px;
  line-height: normal;
  text-transform: uppercase;
  font-weight: bolder;
  color: #15171f;
  letter-spacing: 15px;
}

.header .header-wrapper .menu-icon a {
  color: #15171f;
}

.header .header-wrapper .menu-icon i {
  font-size: 16px;
  margin-right: 10px;
}

.header .header-wrapper .header-cart .cart-wrapper span {
  margin-right: 10px;
}

.header .header-wrapper .header-cart .cart-wrapper a {
  font-family: Oswald;
  color: #15171f;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.btn-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
  z-index: 2;
  text-align: center;
}

.btn-home,
.btn-home:visited {
  color: #fff;
  border: 3px solid #fa5b2f;
  background-color: #fa5b2f;
}

.btn-home:hover {
  color: #fa5b2f;
  border: 3px solid #fff;
  background-color: #fff;
}

/* 1.10 */
/* Social icons
/* ========================================================================= */
.social-media {
  margin-bottom: 30px;
  margin-top: 30px;
}

.social-media span {
  font-size: 20px;
  padding: 0 5px;
  color: #fa5b2f;
}

.social-media span:hover {
  color: #c54458;
}

/* 1.11 */
/* Shop Thumbnails
/* ========================================================================== */
.thumbnail {
  margin: 0 auto;
  border-radius: 0;
  background-color: transparent;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.thumbnail:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(195, 195, 195, 0.6);
  -moz-box-shadow: 0px 0px 15px rgba(195, 195, 195, 0.6);
  box-shadow: 0px 0px 15px rgba(195, 195, 195, 0.6);
  background-color: #ffffff;
}

.thumbnail .caption {
  padding: 20px 0 30px 0;
}

.caption-title {
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bolder;
  color: #15171f;
}

.thumbnail .price {
  font-family: Oswald;
  color: #fa5b2f;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.product-single .product-title,
.block-header {
  margin-top: 0;
  font-size: 48px;
  font-weight: bolder;
  color: #15171f;
  font-family: Oswald;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-single .product-text {
  font-size: 14px;
  color: #15171f;
  line-height: 2.5;
  font-family: "Roboto Mono";
  margin-bottom: 40px;
}

.product-single .product-price {
  font-family: Oswald;
  color: #fa5b2f;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

.product-single .all_products {
  position: absolute;
  border: 2px solid #15171f;
  width: 35px;
  height: 35px;
  z-index: 4;
  right: 35px;
  top: 100px;
  text-align: center;
}

.product-single .all_products span {
  color: #15171f;
  font-size: 16px;
  line-height: 30px;
}

/* 1.12 */
/* About Page
/* ========================================================================== */
.regular-text {
  font-size: 15px;
  color: #15171f;
  line-height: 2.5;
  font-family: "Roboto Mono";
  margin-bottom: 40px;
}

 {
  margin: 0 auto;
  max-width: 900px;
  left: 0;
  right: 0;
}

/* 1.13 */
/* Shop sorting
/* ========================================================================== */
.shop-sorting {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.shop-sorting div {
  border: none;
  font-family: Oswald;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.shop-sorting select {
  box-shadow: none !important;
}

:-webkit-autofill {
  color: #fff !important;
}

.shop-sorting select {
  border: none;
  font-family: Oswald;
  font-size: 15px;
  color: #15171f;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  padding-right: 30px;
  background: transparent;
  z-index: 1;
}

.select-wrapper-size {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

/* 1.14 */
/* Contact form
/* ========================================================================== */
.contact-subheader {
  color: #fa5b2f;
  text-align: center;
}

.contact-form input {
  border: 3px solid #000;
  height: 50px;
}

.contact-form textarea {
  border: 3px solid #000;
  min-height: 200px;
  resize: none;
}

.contact-form .form-control:focus {
  border-color: #fa5b2f;
}

.form-control-feedback {
  line-height: 50px;
}

.form-btn {
  margin-bottom: 60px;
}

.form-control-feedback {
  line-height: 50px;
  top: 0px;
}

.msg_form {
  text-align: right;
  margin-bottom: 10px;
  font-size: 16px;
}

.msg_true {
  color: green;
}

.msg_false {
  color: #a94442;
}

/* 1.15 */
/* Helper classes
/* ========================================================================== */
.form-control {
  box-shadow: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  border-radius: 0;
  -webkit-box-shadow: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}





.relative {
  position: relative;
}



.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

/* Remove firefox dotted line
/* -------------------------------------------------------------------------- */
a,
a:active,
a:focus,
input,
input:active,
input:focus,
button,
button:active,
button:focus,
select,
select:active,
select:focus,
.bootstrap-select .btn,
.bootstrap-select .btn:active,
.bootstrap-select .btn:focus {
  outline: 0 !important;
}

/* Remove webkit outline glow
/* -------------------------------------------------------------------------- */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* 1.16 */
/* Media Queries
/* ========================================================================== */
@media (max-width: 991px) {
  .main-menu {
    width: 320px;
  }

  .header .header-wrapper .header-logo .logo-text {
    letter-spacing: 6px;
    font-size: 20px;
    line-height: inherit;
  }

  .thumbnail .caption {
    opacity: 1;
  }

  
  .wrapper-info {
    position: inherit;
    top: 60px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  .wrapper-info .btn-theme {
    padding: 1em 5em;
    margin-bottom: 60px;
    width: 100%;
  }

  .message {
    margin-top: -50px;
  }

  .product-name {
    position: initial;
    padding-top: 60px;
  }

  .filters-shop {
    background-color: #f5f5f5;
  }

  .wrapper-info .buttons .input-group {
    display: block;
  }

  .wrapper-info .buttons .input-group select {
    margin-bottom: 20px;
  }

  .wrapper-info .buttons .input-group .btn-theme,
  .form-btn {
    width: 100%;
  }

  .wrapper-info .buttons label {
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container-shop {
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-theme {
    padding: 1em 5em;
  }

  .main-menu ul li a {
    font-size: 34px;
  }

  .product-single .product-title,
  .block-header {
    font-size: 36px;
  }
}

.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.add-product {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  font-size: 35px;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 50px;
  right: -50px;
}



.table thead th{
  border-top:none;
}